body{
margin: 20px;
font-family: Arial, sans-serif;
background-color: black;
}



.Name_div{
margin: 0;
font-family: Arial, sans-serif;
margin-left: 66%;
width: max-content;
height: 35vh;
background-color: black;

}





/* Names styling */
.names {
font-size: 65px;
font-weight: 1;
font-family: 'Times New Roman', Times, serif;
}

.name {
display: block;
margin-right: 50px;
margin: 10px 0;
cursor: pointer;
transition: font-family 0.3s ease, font-size 0.1s ease, color 0.3s ease;
}

.name:hover {
font-family: 'Georgia', serif;
font-size: 70px;
color: gold;
}

.Name_header{

margin-top: 200px;
margin-right: 0;
overflow: hidden;
width: auto;
color: goldenrod;



}



/* Styling of the header*/

header {
position: sticky;
top: 0;
background: black;
padding: 10px 20px;
z-index: 1000;
}

a{
    text-decoration: none;
}
nav {
display: flex;
justify-content: center;
gap: 20px;
}


.tad {
padding: 7px;
text-decoration: none;
color: white;
font-size: 1.2rem;
text-transform: uppercase;
cursor: pointer;
transition: color 1s ease, opacity 1s ease;
}


.tad:hover {
color: whitesmoke; 
}

nav:hover .tad {
opacity: 0.3;
}

nav:hover .tad:hover {
opacity: 1;
}


/* Button styling */

.button-container {
text-align: center;


}

.fill-button {
position: relative;
overflow: hidden;
margin-top: 100px;
background: transparent;
color: rgb(91, 193, 75);
border: 2px solid rgb(237, 35, 35);
padding: 10px 30px;
font-size: 16px;
font-weight: bold;
border-radius: 5px;
cursor: pointer; 
transition: color 0.3s ease;
}

.fill-button::before {
content: '';
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 100%;
background: gold;
z-index: -1;
transition: top 0.5s ease;
}

.fill-button:hover::before {
top: 0;
}

.fill-button:hover {
color: white;
}






/* Social Media hundles Section */
.socials {
margin-top: 20px;
display: flex;
justify-content: center;
gap: 15px;
}

.social-icon {
color: white;
font-size: 1.5rem;
text-decoration: none;
transition: color 0.3s ease;
}

.social-icon:hover {
color: goldenrod;
}
